<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Sewing Pattern Collection</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/patterns">
        {{! <img src="thimble-logo.png" width="30" height="30" alt="Line drawing of thimble" loading="lazy"> }}
        Sew Organized
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="brandsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Brands
            </a>
            <ul class="dropdown-menu" aria-labelledby="brandsDropdown">
              <li><a
                  class="dropdown-item"
                  href="/patterns?brands=Burda"
                >Burda</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?brands=Butterick"
                >Butterick</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?brands=McCall's"
                >McCall's</a></li>
              <li><a class="dropdown-item" href="/patterns?brands=New Look">New
                  Look</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?brands=Simplicity"
                >Simplicity</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?brands=Vogue Patterns"
                >Vogue Patterns</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="categoriesDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Activewear"
                >Activewear</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Coats"
                >Coats</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Dresses"
                >Dresses</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Jackets"
                >Jackets</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Jumpsuits"
                >Jumpsuits</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Underwear"
                >Underwear</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Pants"
                >Pants</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Shorts"
                >Shorts</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Skirts"
                >Skirts</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Sleepwear"
                >Sleepwear</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Swimwear"
                >Swimwear</a></li>
              <li><a
                  class="dropdown-item"
                  href="/patterns?categories=Tops"
                >Tops</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/patterns/new">Create New</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {{{body}}}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    >
    </script>
  </body>
</html>