<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Adding Bootstrap so we can make it pretty-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css">
    <title>Sewing Pattern Collection</title>
  </head>

  <body>
    {{!-- Navbar --}}
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container">
        {{!-- Site Name --}}
        <a class="navbar-brand" href="/patterns">Sew Orgainized</a>
        {{!-- Menu Toggle on smaller window --}}
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        {{!-- Navbar Links/Dropdowns --}}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Brands
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Burda</a>
          <a class="dropdown-item" href="#">Butterick</a>
          <a class="dropdown-item" href="#">Kwik Sew</a>
        </div>
      </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="patterns/new">Create New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Advanced Search</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
    <div class="container-fluid">
    {{{body}}}
    </div>
  </body>
</html>