body {
    background-color: #eaeede;
    font-family: 'Cormorant Infant', serif;
}

.navbar {
    background-image: url("https://github.com/larilariv/SewingPatternCollection/blob/main/public/images/so_background.png?raw=true");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.index-listings {
    padding: 10px;
    border: 10px solid #eaeede;
    background-color: #a7ba91;
}