body {
    background-color: #eaeede;
    font-family: 'Cormorant Infant', serif;
    font-weight: 500;
}
.navbar {
    background-image: url("so_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.index-listings {
    padding: 30px;
    border: 10px solid #eaeede;
    background-color: tan;
}

.carousel-indicators {
    background-color: greenyellow;
}

.carousel-control-prev {
    background-color: aqua;
}

.carousel-control-next {
    background-color: hotpink;
}