<h1>Patterns</h1>
<ul class="list-group">
  {{#each patterns}}
  <li class="list-group-item d-flex justify-content-between">
    <div>{{this.name}}</div>
    <div class="links">
      <!-- for actions later -->
    </div>
  </li>
  {{/each}}
</ul>