<ul class="list-group">
  {{#each patterns}}
  <li class="list-group-item d-flex justify-content-between">
    <div>
      <img src="{{this.coverImage}}">
      <h2><a href="/patterns/{{this.id}}">{{this.name}}</a></h2>
    </div>
  </li>
  {{/each}}
</ul>