<div class="row row-cols-3">
  {{#each patterns}}
    <div class="index-listings">
      <a class="text-decoration-none" href="/patterns/{{this.name}}">
        <img src="{{this.coverImage}}" class="img-fluid shadow-sm" />
        <h1
          class="d-flex justify-content-center link-secondary"
        >{{this.name}}</h1>
      </a>
    </div>
  {{/each}}
</div>