<h1>Add a New Pattern</h1>
<form action="/patterns" method="POST">

    <div class="form-group">

        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" />
        <label for="brand">Brand:</label>
        <input type="text" id="brand" class="form-control" />
        <label for="categories">Categories:</label>
        <input type="text" id="categories" class="form-control" />

    </div>
    
    <input type="submit" class="btn btn-primary" />
    <a href="/patterns" class="btn btn-secondary">Cancel</a>

</form>